<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MelodyHub Music Player</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='img/melody-hub.jpeg') }}" alt="MelodyHub Logo" height="30">
    MelodyHub
  </a>
</nav>

<div class="container mt-5">
    <h1 class="mb-4">Music Player Dashboard</h1>

    <form action="{{ url_for('load_songs') }}" method="post">
        <div class="form-group">
            <label for="folder_path">Folder Path:</label>
            <input type="text" class="form-control" id="folder_path" name="folder_path" required>
        </div>
        <button type="submit" class="btn btn-primary">Load Songs</button>
    </form>

    {% if player.playlist %}
    <div class="container-songs">
        <div class="left-panel">
            <h2>Song List</h2>
            <ul>
                {% for song in player.playlist %}
                    <li>{{ song.split('\\')[-1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="center-panel">
            <h1>Music Player Dashboard</h1>
            <div id="current-song">
                <p id="song-info">Current Song: </p>
                <div id="progress-bar-container">
                    <div id="progress-bar"></div>
                </div>
                <p id="time-info">Time: 0:00 / Duration</p>
            </div>
        </div>
        <div class="right-panel">
            <h2>Control Buttons</h2>
            <button onclick="play()">Play</button>
            <button onclick="pause()">Pause</button>
            <button onclick="resume()">Resume</button>
            <button onclick="stop()">Stop</button>
            <button onclick="nextSong()">Next Song</button>

            <h2>Volume Control</h2>
            <input type="range" id="volume" name="volume" min="0" max="1" step="0.1" value="{{ player.volume }}" oninput="setVolume()">
        </div>
    </div>
    {% endif %}
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
    function play() {
        fetch('/play');
    }
    let pausedData = null;
    function pause() {
        fetch('/pause')
            .then(response => response.json())
            .then(data => {
                pausedData = data;
            });
    }

    function resume() {
        fetch('/resume')
            .then(response => response.json())
            .then(data => {
                if (pausedData) {
                    // Use the stored progress and duration values when resuming
                    data.progress = pausedData.progress;
                    data.duration = pausedData.duration;
                    pausedData = null; // Clear stored data
                }

                const currentTime = formatTime(data.progress);
                const duration = formatTime(data.duration);
                const timeDisplay = document.getElementById('time-info');
                const progressBarInner = document.getElementById('progress-bar');

                timeDisplay.textContent = `Time ${currentTime}/${duration}`;
                progressBarInner.style.width = Math.round((data.progress / data.duration) * 100) + '%';
            });
    }


    function stop() {
        fetch('/stop');
    }

    function nextSong() {
        fetch('/next_song');
    }

    function setVolume() {
        const volume = document.getElementById('volume').value;
        fetch(`/set_volume/${volume}`);
    }
    function updatePlayerStatus() {
        fetch('/progress')
            .then(response => response.json())
            .then(data => {
                const currentTime = formatTime(data.progress);
                const duration = formatTime(data.duration);
                const timeDisplay = document.getElementById('time-info');
                const progressBarInner = document.getElementById('progress-bar');

                timeDisplay.textContent = `Time ${currentTime}/${duration}`;
                progressBarInner.style.width = Math.round((data.progress / data.duration) * 100) + '%';
            });
    }

        function formatTime(seconds) {
            const minutes = Math.floor(seconds / 60);
            const remainingSeconds = Math.round(seconds) % 60;
            return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
        }

        setInterval(updatePlayerStatus, 1000);


</script>

</body>
</html>

